.grid-container {
    display: grid;
    grid-template-rows: 10% 90%;
    height: 1024px;
    width: 500px; /* Set the height of the grid container to fill the viewport */
  }
  
  .grid-item {
    border: 1px solid black;
    padding: 10px;
  }
  
  .item1 {
    width: 100%;
    background-color: lightblue;
  }
  
  .item2 {
    width: 100%;
    background-color: lightgreen;
  }