
.card-bar-dp{
 margin-bottom: 3vh;

}
.social-container-dp{
    display: flex;
    
    align-items:center;
    justify-content: flex-start;
    gap: 10px;

}
.social-icon-dp{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nameandicons{
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
}



.basic-info-dp{
    
    
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        margin-bottom: 1vh;
        margin-top: 1vh;
        
        
      
}

  .card-div-dp{
    display: flex;
    flex-direction: column;
/* width: auto; */
  align-items: center;
 

  
  }
  .link-card-dp{
    display: flex;
  /* From https://css.glass */
background: #041950;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(16, 65, 138, 0.19);

   margin-bottom: 1.5vh;
   padding: 5px;
   width: 35vw;
   height: 6vh;
  }
  .username-dp{
    font-family: "";
    display: flex;
    align-items: center;
    font-size: 3vh;
   
  }



  @media (max-width: 760px) {
    .username-dp{
        font-family: "";
        margin-left: 2vw;
       
      }
    .link-card-dp{
        width: 40vh;
    }
 
  .main-dp{
    margin-left: 1vh;
    margin-right: 1vh;
  }
 
 
  }

























  